.container {
  background-color: var(--mainOrange-400);
  color: var(--mainBlue-900);
  border: 0;
  border-radius: 0.3rem;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem 0;
  width: 100%;
}

.disabled {
  composes: container;
  background-color: var(--redError);
  color: var(--grey-200);
}

.submitting {
  composes: container;
  background-color: var(--grey-400, lightgrey);
  color: var(--grey-100);
}

.text {
  margin-left: 0.5em;
}
