.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 4rem 0 2rem;
  margin-bottom: 2rem;
}

.name {
  font-size: 2.3rem;
  font-weight: 600;
}

.incomplete {
  color: var(--mainBlue-200);
}

.incompleteNumber {
  position: relative;
  top: -2px;
  margin-right: 5px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0 0;
}

.links a {
  opacity: 0.8;
}

.links a:hover,
.links a:focus {
  opacity: 1;
}
