:root {
  --mainBlue-100: #ecf2f9;
  --mainBlue-200: #c6d9ec;
  --mainBlue-300: #9fbfdf;
  --mainBlue-400: #79a6d2;
  --mainBlue-500: #538cc6;
  --mainBlue-600: #3973ac;
  --mainBlue-700: #2d5986;
  --mainBlue-800: #204060;
  --mainBlue-900: #132639;

  --mainOrange-100: #f9f2ec;
  --mainOrange-200: #ecd9c6;
  --mainOrange-300: #dfbf9f;
  --mainOrange-400: #d2a679;
  --mainOrange-500: #c68c53;
  --mainOrange-600: #ac7339;
  --mainOrange-700: #86592d;
  --mainOrange-800: #604020;
  --mainOrange-900: #392613;

  --fullWhite: #fff;
  --fullBalck: #000;

  --grey-100: #e3e3e3;
  --grey-200: #d5d5d5;
  --grey-300: #c7c7c7;
  --grey-400: #aaa;
  --grey-500: #888;
  --grey-600: #666;
  --grey-700: #444;
  --grey-800: #343434;
  --grey-900: #121212;

  --redError: #ff3333;
  --redErrorBackground: #ff333333;

  --greenSuccess: #33cc33;
  --greenSuccessBackground: #33cc3333;
}
