*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  --pageWidth: 720px;
}

/* BODY */
body {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--mainBlue-800);
  color: var(--mainOrange-400);
  font-weight: 400;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* LINK */
a {
  color: var(--mainOrange-400);
  text-decoration: none;
  font-weight: 600;
  position: relative;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
}

/* INPUT */
input[type="email"],
input[type="text"],
input[type="password"],
textarea {
  padding: 0.8rem 1.5rem;
  width: 100%;
  border-radius: 0.3rem;
  font-size: 1.3rem;
  border: 0;
}

input[type="button"] {
  background-color: var(--mainOrange-400);
  color: var(--mainBlue-900);
  border: 0;
  border-radius: 0.3rem;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem 0;
  display: block;
  width: 100%;
}

input[type="checkbox"] {
  margin-right: 1.2rem;
}

button[type="submit"] {
  margin-top: 1rem;
}

textarea {
  resize: none;
}

table {
  text-indent: 0;
  border-color: inherit;
}

#__next {
  height: 100vh;
}
